<div class="text-center">
    

    <form class="d-flex" method="get" asp-action="Search" , asp-controller="Home" style="margin:2rem;">
        <input class="form-control me-2" type="search" name="query" id="query" placeholder="Aranacak kitap ismini giriniz." autocomplete="off" autofocus>
        <button class="btn btn-outline-success" type="submit">Ara</button>
    </form>
</div>