@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="row">
    <div class="col-md-3">
        <h3>Amazon</h3>
        <img src="@TempData["AmazonBookImage"]?.ToString()" alt="Amazon Image" />
    </div>

    <div class="col-md-3">
        <h3>Bkmkitap</h3>
        <img src="@TempData["BkmBookImage"]?.ToString()" alt="Bkm Image" />
    </div>


    <div class="col-md-3">
        <h3>Kidega</h3>
        <img src="@TempData["KidegaBookImage"]?.ToString()" alt="Kidega Image" />
    </div>

    <div class="col-md-3">
        <h3>Idefix</h3>
        <img src="@TempData["IdefixBookImage"]?.ToString()" alt="Idefix Image" />
    </div>
</div>